<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Completions</key>
	<array>
		<dict>
			<key>String</key>
			<string>get_field</string>
			<key>ID</key>
			<string>get_field</string>
			<key>PostString</key>
			<string>();</string>
			<key>SelectionRange</key>
			<string>{10,0}</string>
			<key>Parameters</key>
			<array>
				<string>$field_name</string>
				<string>$post_id</string>
				<string>$format_value</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>the_field</string>
			<key>ID</key>
			<string>the_field</string>
			<key>PostString</key>
			<string>();</string>
			<key>SelectionRange</key>
			<string>{10,0}</string>
			<key>Parameters</key>
			<array>
				<string>$field_name</string>
				<string>$post_id</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>get_field_object</string>
			<key>ID</key>
			<string>get_field_object</string>
			<key>PostString</key>
			<string>();</string>
			<key>SelectionRange</key>
			<string>{17,0}</string>
			<key>Parameters</key>
			<array>
				<string>$field_name</string>
				<string>$post_id</string>
				<string>$format_value</string>
				<string>$load_value</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>get_sub_field</string>
			<key>ID</key>
			<string>get_sub_field</string>
			<key>PostString</key>
			<string>();</string>
			<key>SelectionRange</key>
			<string>{14,0}</string>
			<key>Parameters</key>
			<array>
				<string>$sub_field_name</string>
				<string>$format_value</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>update_field</string>
			<key>ID</key>
			<string>update_field</string>
			<key>PostString</key>
			<string>();</string>
			<key>SelectionRange</key>
			<string>{13,0}</string>
			<key>Parameters</key>
			<array>
				<string>$field_key</string>
				<string>$value</string>
				<string>$post_id</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>get_fields</string>
			<key>ID</key>
			<string>get_fields</string>
			<key>PostString</key>
			<string>();</string>
			<key>SelectionRange</key>
			<string>{11,0}</string>
			<key>Parameters</key>
			<array>
				<string>$post_id</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>has_sub_field</string>
			<key>ID</key>
			<string>has_sub_field</string>
			<key>PostString</key>
			<string>();</string>
			<key>SelectionRange</key>
			<string>{14,0}</string>
			<key>Parameters</key>
			<array>
				<string>$field_name</string>
				<string>$post_id</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>the_sub_field</string>
			<key>ID</key>
			<string>the_sub_field</string>
			<key>PostString</key>
			<string>();</string>
			<key>SelectionRange</key>
			<string>{14,0}</string>
			<key>Parameters</key>
			<array>
				<string>$sub_field_name</string>
				<string>$format_value</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>acf_add_options_sub_page</string>
			<key>ID</key>
			<string>acf_add_options_sub_page</string>
			<key>PostString</key>
			<string>(array());</string>
			<key>New item</key>
			<string></string>
			<key>SelectionRange</key>
			<string>{31,0}</string>
			<key>Parameters</key>
			<array>
				<string>page_title</string>
				<string>menu_title</string>
				<string>menu_slug</string>
				<string>capability</string>
				<string>position</string>
				<string>parent_slug</string>
				<string>icon_url</string>
				<string>redirect</string>
				<string>post_id</string>
				<string>autoload</string>
				<string>update_button</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>have_rows</string>
			<key>ID</key>
			<string>have_rows</string>
			<key>PostString</key>
			<string>();</string>
			<key>SelectionRange</key>
			<string>{10,0}</string>
			<key>Parameters</key>
			<array>
				<string>$field_name</string>
				<string>$post_id</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>get_field_objects</string>
			<key>ID</key>
			<string>get_field_objects</string>
			<key>PostString</key>
			<string>();</string>
			<key>SelectionRange</key>
			<string>{18,0}</string>
			<key>Parameters</key>
			<array>
				<string>$post_id</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>acf_form</string>
			<key>ID</key>
			<string>acf_form</string>
			<key>PostString</key>
			<string>(array());</string>
			<key>SelectionRange</key>
			<string>{15,0}</string>
			<key>Parameters</key>
			<array>
				<string>id</string>
				<string>post_id</string>
				<string>new_post</string>
				<string>field_groups</string>
				<string>fields</string>
				<string>post_title</string>
				<string>post_content</string>
				<string>form</string>
				<string>form_attributes</string>
				<string>return</string>
				<string>html_before_fields</string>
				<string>html_after_fields</string>
				<string>submit_value</string>
				<string>updated_message</string>
				<string>label_placement</string>
				<string>instruction_placement</string>
				<string>field_el</string>
				<string>uploader</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>get_row_layout</string>
			<key>ID</key>
			<string>get_row_layout</string>
			<key>SelectionRange</key>
			<string>{16,0}</string>
			<key>PostString</key>
			<string>()</string>
		</dict>
		<dict>
			<key>String</key>
			<string>get_sub_field_object</string>
			<key>ID</key>
			<string>get_sub_field_object</string>
			<key>SelectionRange</key>
			<string>{21,0}</string>
			<key>PostString</key>
			<string>();</string>
			<key>Parameters</key>
			<array>
				<string>$field_key</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>acf_set_options_page_menu</string>
			<key>ID</key>
			<string>acf_set_options_page_menu</string>
			<key>SelectionRange</key>
			<string>{26,0}</string>
			<key>PostString</key>
			<string>();</string>
			<key>Parameters</key>
			<array>
				<string>$menu_name </string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>acf_set_options_page_title</string>
			<key>ID</key>
			<string>acf_set_options_page_title</string>
			<key>SelectionRange</key>
			<string>{27,0}</string>
			<key>PostString</key>
			<string>();</string>
			<key>Parameters</key>
			<array>
				<string>$title</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>acf_set_options_page_capability</string>
			<key>ID</key>
			<string>acf_set_options_page_capability</string>
			<key>SelectionRange</key>
			<string>{32,0}</string>
			<key>PostString</key>
			<string>();</string>
			<key>Parameters</key>
			<array>
				<string>$capability</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>acf_add_options_page</string>
			<key>ID</key>
			<string>acf_add_options_page</string>
			<key>SelectionRange</key>
			<string>{27,0}</string>
			<key>PostString</key>
			<string>(array());</string>
			<key>Parameters</key>
			<array>
				<string>page_title</string>
				<string>menu_title</string>
				<string>menu_slug</string>
				<string>capability</string>
				<string>position</string>
				<string>parent_slug</string>
				<string>icon_url</string>
				<string>redirect</string>
				<string>post_id</string>
				<string>autoload</string>
				<string>update_button</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>update_sub_field</string>
			<key>ID</key>
			<string>update_sub_field</string>
			<key>SelectionRange</key>
			<string>{17,0}</string>
			<key>PostString</key>
			<string>();</string>
			<key>Parameters</key>
			<array>
				<string>$selector</string>
				<string>$value</string>
				<string>$post_id </string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>add_row</string>
			<key>ID</key>
			<string>add_row</string>
			<key>SelectionRange</key>
			<string>{8,0}</string>
			<key>PostString</key>
			<string>();</string>
			<key>Parameters</key>
			<array>
				<string>$selector</string>
				<string>$value</string>
				<string>$post_id</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>delete_row</string>
			<key>ID</key>
			<string>delete_row</string>
			<key>SelectionRange</key>
			<string>{11,0}</string>
			<key>PostString</key>
			<string>();</string>
			<key>Parameters</key>
			<array>
				<string>$selector</string>
				<string>$row</string>
				<string>$post_id</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>update_row</string>
			<key>ID</key>
			<string>update_row</string>
			<key>SelectionRange</key>
			<string>{11,0}</string>
			<key>PostString</key>
			<string>();</string>
			<key>Parameters</key>
			<array>
				<string>$selector</string>
				<string>$row</string>
				<string>$value</string>
				<string>$post_id</string>
			</array>
		</dict>
		<dict>
			<key>String</key>
			<string>get_row_index</string>
			<key>ID</key>
			<string>get_row_index</string>
			<key>SelectionRange</key>
			<string>{16,0}</string>
			<key>PostString</key>
			<string>();</string>
		</dict>
		<dict>
			<key>String</key>
			<string>get_row</string>
			<key>ID</key>
			<string>get_row</string>
			<key>SelectionRange</key>
			<string>{8,0}</string>
			<key>PostString</key>
			<string>();</string>
			<key>Parameters</key>
			<array>
				<string>$format_values</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
